<div class="menu-left">
    <a routerLink="/admindetails" class="btn" role="button" routerLinkActive="active">Admin</a>
    <a routerLink="/adminById" class="btn " role="button" routerLinkActive="active">AdminSearch</a>
    <a routerLink="/login" class="btn " role="button" routerLinkActive="active">login</a>
    <a routerLink="/displayloginbyid" class="btn " role="button" routerLinkActive="active">loginSearch </a>
    
    <a routerLink="/Account" class="btn " role="button" routerLinkActive="active">Account</a>
    <a routerLink="/AccByAccNo" class="btn " role="button" routerLinkActive="active">AccountSearch</a>
    <a routerLink="/payee" class="btn " role="button" routerLinkActive="active">payee</a>
    <a routerLink="/Transaction" class="btn " role="button" routerLinkActive="active">Transaction</a>
    
    
  </div>
