<div class="row">
    <div class="col-md-3">
      
  <app-user-menu></app-user-menu>
      
    </div>
    <div class="col-md-8">
    <div class="container">
        <input type="text" [(ngModel)]="payId" size="20"/>
        <button (click)="onSearch()">Search</button>   
        <div *ngIf="notFound">Payee not found</div>
    </div>
    
    
    <h3 class="p-3 text-center">Payee Record : </h3>
    <div class="container">
        
         <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>payid</th>
                    <th>payname</th>
                    <th>payaccno</th>
                    <th>payreaccno</th>
                    <th>paynn</th>  
                    <!-- <th>accNo</th>               -->
                </tr>
            </thead>
            <tbody>
                  <tr>              
                    <td> {{payeObj.payid}} </td>
                    <td> {{payeObj.payname}} </td>
                    <td> {{payeObj.payaccno}} </td>
                    <td> {{payeObj.payreaccno}} </td> 
                    <td> {{payeObj.paynn}} </td>   
                    <!-- <td> {{payeObj.accNo}} </td>   -->
                </tr>
            </tbody>
        </table>
        
        <!-- <button (click)="payBill()">Go For Payment</button> -->
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning" href="/userhomepage">Back</a>
    </div>
</div>
    
