<!-- <p>homepage works!</p>
<div>
    
    
<nav class = "navbar navbar-expand-md navbar-light bg-light" > 
    <div class="topnav">
        
      </div>
      
    <ul class="navbar-nav me-auto">

        <li class="nav-item">
            <button class = "btn" (click) = "Admin()" >Admin</button>
        </li>

        <li class="nav-item">
            <button class = "btn" (click) = "Login()" >Login</button>
        </li>

        <li class="nav-item">
            <button class = "btn" (click) = "Account()" >Account</button>
        </li>

        <li class="nav-item">
            <button class = "btn" (click) = "addAccount()" >addAccount</button>
        </li>


        
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <button class = "btn" (click) = "AboutUs()">About Us</button>
        </li>
        <li class="nav-item">
            <button class = "btn" [disabled] = "!loggedin" (click) = "logout()">Log out</button>
        </li>
    </ul>
</nav>

 

</div>  

<hr>
<router-outlet></router-outlet>
<div style="text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;">
        <footer><span class="text-danger"><strong>This site is copyright &copy; to LTI. 
          All rights are reserved here ..!</strong></span></footer>
</div>
    -->

    <h1>Create Account and save your Money!!!</h1>
    <img class="img-responsive" style="position:absolute;width:100%" src="assets\images\Banking.jpg" hegiht="900">