

<div class=" text-center login-bg" >
  <h1>Login</h1>
     <form [formGroup]="loginForm"  class="form-signin">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="userName" class="form-control" formControlName="userName" id="userName" placeholder="Enter user login Id">
      <div *ngIf="submitted && loginForm.controls.userName.errors" class="error">
        <div class="text-danger" *ngIf="loginForm.controls.userName.errors.required">Admin Name is required</div>
      </div>
    
    </div>
    <br>
    <div class="form-group">
      <label for="userPass">Password</label>
      <input type="password" class="form-control" formControlName="userPass" id="userPass" placeholder="Enter password">
      <div *ngIf="submitted && loginForm.controls.userPass.errors" class="error">
        <div class="text-danger" *ngIf="loginForm.controls.userPass.errors.required">Password is required</div>
      </div>
     
    </div>
    <br>
    <button class="btn btn-success">Login</button> &nbsp; &nbsp;
    <button class="btn btn-danger" type="reset">Cancel</button>
    <a class="btn btn-warning" style="margin-left: 10px;" href="/home">Back</a>
    <br>
    <br>
   <div>
    <a class="btn btn-success" style="margin-left: 10px;" href="/Register">Register ?</a>
  </div>
    <div *ngIf="invalidLogin" class="error">
      <div class="text-danger">Invalid credentials.</div> 

      
      
    </div>
  </form>
  
</div>
