<div class="menu-left">
    <a routerLink="/addAccount" class="btn" role="button" routerLinkActive="active">createAccount</a>
    <a routerLink="/addTransfer" class="btn " role="button" routerLinkActive="active">addTransfer</a>
    <a routerLink="/addpayee" class="btn " role="button" routerLinkActive="active">addpayee</a>
    
    <a routerLink="/AccByAccNo" class="btn " role="button" routerLinkActive="active">AccountSearch</a>
    <a routerLink="/payedetailsbyid" class="btn " role="button" routerLinkActive="active">payeeSearch</a>
    <a routerLink="/transaction-by-id" class="btn " role="button" routerLinkActive="active">TransactionSearch</a>
    <a routerLink="/Transfer" class="btn " role="button" routerLinkActive="active">TransferDetails</a>
    <a routerLink="/Transfersearch" class="btn " role="button" routerLinkActive="active">TransferSearch</a>
    
  </div>
