<div class="row">
    <div class="col-md-3">
      
  <app-admin-menu></app-admin-menu>
      
    </div>
    <div class="col-md-8">
        <p>admin-by-id works!</p>

<div class="container">
    <input type="text" [(ngModel)]="adminId" size="20"/>
    <button (click)="onSearch()">Search</button>   
    <div *ngIf="notFound">Admin not found</div>
</div>


<h3 class="p-3 text-center">Admin Record : </h3>
<div class="container">
    
     <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>                
            </tr>
        </thead>
        <tbody>
              <tr>              
                <td> {{adminObj.adminId}} </td>
                <td> {{adminObj.adminName}} </td>
                <td> {{adminObj.adminPassword}} </td>      
            </tr>
        </tbody>
    </table>    
</div>
     
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning" href="/AdminhomePage">Back</a>
    </div>
</div>
    
