<script>
  alert("Hi");
</script>
<div style="color:#f34ccf; background-color: rgb(106, 221, 241); padding: 10px 5px 5px 10px; ">
  <h2 style="text-align:center; margin-top: 30px; "><font size="+30">
    <b>PVRDT Bank</b>
  </font></h2>

  <div>
      <nav style="text-align:right">
        <img src="../assets/images/icon.jpeg" alt="">
          
              <a routerLink="" class="btn btn-primary p-2" role="button" routerLinkActive="active" >HOME</a>&nbsp; &nbsp;
          
          
              <a routerLink="/log" class="btn btn-primary p-2" role="button" routerLinkActive="active">LOGIN</a> &nbsp; &nbsp;
          
      </nav>
  </div>
</div>

<hr/>
<div >
 
      
          <router-outlet></router-outlet>
     
  <br/><br/>
  <div>
      <footer class="footer"><span class="text-danger" ><strong>This site is copyright &copy; to LTI. 
        All rights are reserved here ..!</strong></span></footer>
  </div>
</div>